---
layout: default
title: دسته‌بندی‌ها
permalink: /categories/
---

<h2>دسته‌بندی‌ها</h2>

<ul>
  {% assign categories = site.categories | sort %}
  {% for category in categories %}
    <li>
      <a href="#{{ category[0] }}">{{ category[0] }}</a> ({{ category[1].size }})
    </li>
  {% endfor %}
</ul>

<hr>

{% for category in categories %}
  <h3 id="{{ category[0] }}">{{ category[0] }}</h3>
  <ul>
    {% for post in category[1] %}
      <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}
